


/*page footer*/
.page-footer {
    background-color: var(--navyblue-color);
    padding: 100px 0;
}

.footer-text {
    color: var(--cloud-color);
    width: 264px;
}

.logotype-text-studio-footer {
    color: var(--cloud-color);
}

.logotype-link-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.page-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
}

@media screen and (min-width: 768px) {
    .page-footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: flex-start;
        align-items: baseline; 
        padding-left: 108px; 
    }
}

@media screen and (min-width: 1158px) {
    .page-footer-container {
        column-gap: 0;
        row-gap: 0;
        justify-content: space-between;
        padding-left: 15px;
        align-items: baseline; 
    }
} 




.footer-logo {
    margin-right: 0;
    text-align:center;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .footer-logo {
        text-align:left;
    }
}
@media screen and (min-width: 1158px) {
    .footer-logo {
        margin-right: 120px;
    }
}


.social-list {
    display: flex;
    justify-content: center;
}

.social-list-footer {  
    gap: 16px;
}
 
.footer-social {
    margin-right: 0;
    text-align: center;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .footer-social {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .footer-social {
        margin-right: 80px;
        margin-bottom: 0;
    }
}

.subscribe {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .subscribe {
        text-align: left;
    }
}


.social-link  {
   font-size: 0px;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.social-link-footer {
   background-color: var(--iris-color);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--green-color);
 }

.social-item {   
    width: 40px;
    height: 40px;
}

.icon-social {
    fill: var(--cloud-color);
}

.footer-social-text {
font-weight: 500;
color: var(--white-color);
margin-bottom: 16px;
}

/*backdrop*/
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
    z-index: 9999999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

/*modal-window*/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 584px;
    background-color: var(--dairy-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px; 
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} 
 
/*close-button*/
.close-btn {
    position: absolute; 
    top: 24px;
    right: 24px; 
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cornflower-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 0;
    cursor: pointer; 
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--ocean-color);
    border: none;
    fill: #ffffff; 
}


.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon:hover {
     fill: var(--white-color);
}


.review-form-description {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px; 
}


/*form*/

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-field-label {
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    font-weight: 400;
    color: var(--light-slate-color);
    display: block;
    margin-bottom: 4px;
}


.review-form-input-wrapper {
    position: relative;
}



.review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus { 
   border-color: var(--iris-color);
}


.review-form-field-icon {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 16px;
    fill: var(--navyblue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-field-icon {
    fill: var(--iris-color);
}


/*textarea*/
.review-form-field-wrapper-textarea {
    margin-bottom: 16px;
}

.review-form-field-comment-textarea {
    display: block;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.5;

}

.review-form-field-comment-textarea:focus {
    border-color: #4D5AE5;
}

/*При фокусі на textarea, в класі заданий стиль border-color: #4D5AE5;
 для зміни кольору рамки при кліку на input*/

.review-form-field-comment-textarea::placeholder {
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.04em;
   color: var(--navyblue-color);
}

/*checkbox*/

.review-form-own-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    margin-right: 8px; 
}
.review-form-own-checkbox-icon {
    fill:none;
    stroke: none;
}


.review-form-checkbox:checked + .review-form-checkbox-label .review-form-own-checkbox { 
   background-color: var(--ocean-color);
   stroke: var(--cloud-color);
}

.review-form-checkbox-label {
    color: var(--light-slate-color);
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
}

.review-form-privacy-link {
    color: var(--iris-color);
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}


/* buttio-send*/
.review-form-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--iris-color);
    margin: 0 auto;

    color: var(--white-color);
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

/* subscribe */

.subscribe-title {
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 16px;
}

.subscribe-form-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}

@media screen and (min-width: 768px) {
.subscribe-form-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
}
}


.subscribe-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white-color, #FFF);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    color: var(--white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--IRIS, #4D5AE5);
    cursor: pointer;
    border: none;
    border-radius: 4px;   
}

.subscribe-btn-icon {
    margin-left: 16px;
}





